<div class="container">
<div class="alert alert-dark" role="alert">
  <a href="/services/new" class="alert-link">Create new service</a>
</div>
<% @services.each do |s| %>
  <div class="alert alert-primary" role="alert">
  <p>
    Name: <%= s.name %>
  </p>
  <p>
    Description: <%= s.description  %>
  </p>
  <p>
    Price: <%= s.price  %>
  </p>
  </div>
<% end %>
</div>
